body,html,h1,div{
	margin: 0;
	padding: 0;
}
.page-title{
	margin:20px auto;
}
.page-title a{
	text-decoration: none;
	color: #00A0D8;
	font-size: 40px;
}
#app{
	margin:100px auto;
	width: 400px;
	height: 350px;
	background-color: #fff;
	border: #ccc solid 1px;
}
h1{
	text-align: center;
}